.logInFormContainer
  display: flex
  flex-direction: column
  width: 330px
  align-items: flex-end

.logInForm
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

input  
  border-radius: 12px
  box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.8)
  width: 100%
  height: 45px
  box-sizing: border-box
  padding: 8px 23px 8px 17px
  font-size: 15px
  font-weight: 500
  outline: none
  border: none
  resize: none
  line-height: 20px
  background: rgba(0,0,0,0)
  color: rgb(190, 190, 190)
  margin-bottom: 15px

label
  color: #ffffff
  font-size: 3rem

.logIn__button
  margin-right: 3px
  height: 42px
  width: 110px
  border-radius: 12px
  border: none
  box-sizing: border-box
  font-size: 22px
  line-height: 20px
  outline: none
  background-image: linear-gradient(225deg, #9d5ece 0%, #4d1a9e 100%)
  color: #fff
  -webkit-box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
  -moz-box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
  box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  
  &:hover
    background-image: linear-gradient(225deg, #c476ff 0%, #6925d6 100%)
  &:focus
    outline: none